@import '../../style/_variables';

.createRecipe {
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        color: #ffffff;
        font-family: 'Briberra', sans-serif;
        text-shadow: 2px 2px #000000;
        font-size: 1.6em;
        padding-bottom: 10px;
        border-bottom: solid 3px #ff0000;
    }

    .recipeName {}

    li {
        display: flex;
        background: linear-gradient(to right, #e3f2fd 68%, #cce7f9 100%);
        padding: 0.5em;
        // border-bottom:1px solid #90CAF9;
        align-items: flex-start;
        margin-bottom: 0.5em;
        //box-shadow:2px 2px 2px rgba(0,0,0,0.3);
        max-height: 100px;
        overflow: hidden;
        transition: all 300ms ease;
    }
}