@import '../../../style/_variables';

.input {
    label,
    input {
        transition: all 0.2s;
        touch-action: manipulation;
    }

    input {
        cursor: text;
        -webkit-appearance: none;
        padding: 7px;
        border: none;
        border-radius: 7px;
        background-color: $inputbackground;
        color: $pancakebrown;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #cbd2d6;
        }

        &:focus::placeholder {
            opacity: 1;
        }
    }
}