@import '../../style/_variables';
.searchInput {
    display: flex;
    justify-content: center;
    width: 100vw;

    form {
        display: flex;
        justify-content: center;
        width: 100vw;

        .input {
            width: 100vw;
            display: flex;
            justify-content: center;
            width: 100vw;

            input {
                width: 50vw;
                height: 75px;
                font-size: 48px;
                padding: 7px 7px 7px 78px;
                border: none;
                border-radius: 50px;
                margin:30px 0 55px 0;
                border: solid 1px $inputbackground;
                color: $pancakebrown;
                box-shadow: 1px 1px 8px #cecccc;
                background: url('../../images/_ionicons_svg_md-search.svg') no-repeat scroll 8px 16px;
                background-size: 48px 48px;
                background-color: rgba($inputbackground, .7);
                &::placeholder {
                    color: #8299a7;
                }
                &:focus {
                    outline: none;
                }
            }

            @media all and (max-width: 1024px) {
                input {
                    width: 70vw;
                }
            }

            @media all and (max-width: 768px) {
                input {
                    border-radius: 25px;
                    padding-left: 48px;
                    width: 75vw;
                    height: 50px;
                    font-size: 30px;
                    margin: 15px 0 35px 0;
                    background: url('../../images/_ionicons_svg_md-search.svg') no-repeat scroll 8px 10px;
                    background-size: 32px 32px;
                    background-color: rgba($inputbackground, .7);
                }
            }

            @media all and (max-width: 425px) {
                input {
                    border-radius: 25px;
                    width: 95vw;
                    padding-left: 36px;
                    background: url('../../images/_ionicons_svg_md-search.svg') no-repeat scroll 8px 12px;
                    background-size: 24px 24px;
                    background-color: rgba($inputbackground, .7);
                }
            }
        }
    }
}