@font-face {
    font-family: 'AlegreyaSans';
    src: url(../../fonts/AlegreyaSans-Regular.ttf);
}

header {
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .navContainer {
        width: 100vw;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        section {
            flex-grow: 1;
            flex-basis: auto;
            &.title {
                text-align: center;
                h1 {
                    font-family: 'AlegreyaSans';
                    font-size: 8.2em;
                    color: #ffffff;
                    margin:0;
                    padding: 0;
                }
            }
            &.headerLogo {
                img {
                    max-height: 40px;
                }
                width: 12vw;
            }
            &.userMenu {
                width: 12vw;
                align-self: flex-start;
                text-align: right;
            }
        }
    }

    @media all and (max-width: 1440px) {
        .navContainer {
            section {
                &.title {
                    h1 {
                        font-size: 5.2em;
                    }
                }
            }
        }
    }

    @media all and (max-width: 425px) {
        .navContainer {
            flex-direction: column;
            section {
                &.headerLogo {
                    display: none;
                    order: 1;
                }
                &.userMenu {
                    align-self: flex-end;
                    order: 1;
                }
                &.title {
                    order: 2;
                    h1 {
                        font-size: 4.2em;
                    }
                }
            }
        }
    }
}