.RecipeList {
    text-align: left;
    h3 {
        text-transform: capitalize;
        font-size: 24px;
        a {
            text-decoration: none;
            color: #b58966;
        }
        &::after {
            content: '';
            display: block;
            border-bottom: solid 3px #ff0000;
            width: 50%;
            padding-top: 10px;
        }
    }
}