@import '../../style/_variables';

header {
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .navContainer {
        width: 100vw;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        section {
            flex-grow: 1;
            flex-basis: auto;
            &.title {
                text-align: center;
                h1 {
                    font-weight: inherit;
                    font-family: 'Briberra';
                    font-size: 12.2em;
                    text-shadow: 2px 2px 4px $dropshadow;
                    margin:0;
                    padding: 0;
                    a, &:visited {
                        text-decoration: none;
                        color: $pancakebrown;
                    }
                }
            }
            &.headerLogo {
                img {
                    max-height: 40px;
                }
                width: 12vw;
            }
            &.userMenu {
                width: 15vw;
                align-self: flex-start;
                text-align: right;
            }
        }
    }

    @media all and (max-width: 1440px) {
        .navContainer {
            section {
                &.title {
                    h1 {
                        font-size: 7.2em;
                    }
                }
            }
        }
    }

    @media all and (max-width: 768px) {
        .navContainer {
            section {
                &.title {
                    h1 {
                        text-shadow: 1px 1px 2px $dropshadow;
                        font-size: 4em;
                    }
                }
            }
        }
    }

    @media all and (max-width: 425px) {
        .navContainer {
            flex-direction: row;
            section {
                &.headerLogo {
                    display: none;
                    order: 1;
                }
                &.userMenu {
                    align-self: flex-end;
                    order: 2;
                }
                &.title {
                    order: 1;
                    h1 {
                        text-shadow: 1px 1px 0.5px $dropshadow;
                        font-size: 3em;
                    }
                }
            }
        }
    }
}