@import '_variables.scss';
@font-face {
    font-family: 'Briberra';
    src: url('../fonts/Briberra.otf')
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../images/ornella-binni-151618-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
}

#root {
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;

    .content-area {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    @media all and (max-width: 768px) {
        .content-area {
            width: 75vw;
        }
    }

    @media all and (max-width: 425px) {
        .content-area {
            width: 85vw;
        }
    }
}