@import '../../style/_variables';
.userMenu {
    .userDropdown {
        .userImageButton {
            background: none;
            border: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        .menu {
            position: absolute;
            right: 10px;
            background: none;
            box-shadow: $dropshadow 0.5px 0.5px 2px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;

            button {
                width: 15vw;
                border: none;
                background-color: $pancakebrown;
                padding: 7px 8px 7px 0;
                color: #ffffff;
                text-align: right;
                cursor: pointer;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                &:first-of-type {
                    border-radius: 4px 4px 0 0;
                }
                &:last-of-type {
                    border-radius: 0 0 4px 4px;
                }

                a {
                    text-decoration: none;
                    &:visited {
                        color: #fff;
                    }
                }
            }
            .menuImage {
                color: #ffffff;
                width: 45px;
                padding: 0 5px 0 0;
            }
        }

        @media all and (max-width: 768px) {
            .menu {
                button {
                    width: 25vw;
                }

                .menuImage {
                    color: #ffffff;
                    width: 20px;
                    padding: 0 8px 0 0;
                }
            }
        }

        @media all and (max-width: 425px) {
            .menu {
                button {
                    width: 50vw;
                }
            }
        }
    }

    .userImage {
        height: 30px;
        width: 30px;
        border-radius:50%;
        color: #ffffff;
    }
}